body {
  background-color: #D5E1EF;
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  position: absolute;
  top: 20%;
  left: 30%;
  width: 300px;
  height: 435px;
  padding: 20px 8px;
  border-radius: 20px;
  gap: 20px;
}

.img-container img {
  width: 280px;
  border-radius: 14px;
}

.text-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 14px;
  padding: 0px 16px;
}

.bold-text {
  font-weight: bold;
  font-size: 20px;
  color: #192943;
}

.gray-text {
  color: #A7ABB4;
  font-size: 15px;
}

@media screen and (max-width: 580px) {
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 20%;
    left: 25%;
    position: absolute;
  }
}

@media screen and (max-width: 450px) {
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 20%;
    left: 12%;
    position: absolute;
  }
}